<h1>Hello World</h1>

<%= react_component("HelloWorld", props: @hello_world_props, prerender: false) %>
<%= react_component("WithSearch", prerender: false) %>
<%= react_component("Search", prerender: false) %>
<%= react_component("Hello", prerender: false) %>
